<div class="chat-container">
  <h2><%= @recipient.name %>さんとのトークルーム</h2>

  <div class="chat-box">
    <% @messages.each do |m| %> 
     <div class="chat-message <%= m.user.id == current_user.id ? 'my-message' : 'other-message' %>">
      <div class="chat-face">
       <%= attachment_image_tag m.user, :profile_image, size: '50x50', fallback: "no_image.svg", class: "mt-3 profile-img" %>
      </div>
      <div class="chat-hukidashi">
       <strong><%= m.content %></strong><br>
       <%= m.created_at.strftime("%Y.%m.%d %H:%M") %>
      </div>
     </div>

    <% end %>
  </div>

  <div class="message-form">
    <%= form_for [@room, @message] do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい", size: 45, class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信する", class: 'form-submit' %>
    <% end %>
  </div>
</div>

